/*------------------------lg------------------------*/
@media(min-width:1200px) {
    /*------------------------MAIN*/
    /* h2 elements */
    #index h2,
    #campaign h2,
    #donate h2,
    #about h2, p,
    h1 {
        display: inline-block;
        padding-left: 20px
    }

    h1{
        font-size: 3em;
    }

    h2 {
        font-size: 2.25em;
    }

    body {
        line-height: 1.5em;
        font-size: 16px;
    }

    /* left padding */
    #impact p,
    #about-graphs,
    #about-dashboard {
        padding-left: 40px;
    }

    /*------------------------GRAPHS*/
    #funding-status-pie.dc-chart .dc-legend,
    .dc-chart .pie-slice,
    .dc-select-menu,
    .dc-chart g.row text,
    .chart-wrapper .chart-title,
    .chart-stage {
        font-size: 14px;
    }

    /*total no donations*/
    /* & total value of donations in USD*/

    #number-donations-nd,
    #total-donations-nd {
        font-size: 60px;
        padding-top: 35px;
    }

    /*------------------------ABOUT*/
    /* carousel*/

    .quote {
        font-size: 20px;
        line-height: 1.5em;
    }

    div #donorschoose-carousel {
        height: 800px;
    }

    .carousel-inner p {
        line-height: 1.5em;
        font-size: 20px;
    }
    /*------------------------CAMPAIGN*/
    #stationery,
    #classroom {
        padding: 15px;
        width: 80%;
        float: right;
    }
}

/*------------------------md------------------------*/
@media(min-width:992px) and (max-width:1199px) {
    /*------------------------MAIN*/
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    body {
        font-size: 16px;
        line-height: 1.5em;
    }

    /*------------------------GRAPHS*/

    #funding-status-pie.dc-chart .dc-legend,
    .dc-chart .pie-slice,
    .dc-select-menu,
    .dc-chart g.row text,
    .chart-wrapper .chart-title,
    .chart-stage {
        font-size: 14px;
    }

    #number-donations-nd,
    #total-donations-nd {
        font-size: 60px;
    }

    /*------------------------ABOUT*/
    /* carousel*/
    .quote {
        font-size: 20px;
        line-height: 1.5em;
    }

    div #donorschoose-carousel {
        height: 650px;
    }

    .carousel-inner p {
        line-height: 1.5em;
        font-size: 18px;
    }

    /*------------------------CAMPAIGN*/
    #stationery,
    #classroom {
        padding: 15px;
        width: 80%;
        float: right;
    }
}

/*------------------------sm------------------------*/
@media(min-width:768px) and (max-width:991px) {
    /*------------------------MAIN*/
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    body {
        font-size: 14px;
        line-height: 1.25em;
    }

    /*------------------------GRAPHS*/
    #funding-status-pie.dc-chart .dc-legend,
    .dc-chart .pie-slice,
    .dc-select-menu,
    .dc-chart g.row text,
    .chart-wrapper .chart-title,
    .chart-stage {
        font-size: 14px;
    }

    #number-donations-nd,
    #total-donations-nd {
        font-size: 50px;
    }

    /*------------------------ABOUT*/
    /* carousel*/

    div #donorschoose-carousel {
        height: 500px;
    }
    .carousel-inner p {
        line-height: 1.5em;
        font-size: 16px;
    }
    /*------------------------CAMPAIGN*/

    #stationery,
    #classroom {
        width: 350px;
        float: right;
    }
}
