/*------------------------xs < 768 Mobile First styling */
/*------------------------MAIN*/

/*navbar titles*/
.navbar {
	background: #400743;
	position: fixed;
}


/* h2 elements */
#index h2,
#campaign h2,
#donate h2,
#about h2,
p,
h1 {
	display: inline-block;
	padding-left: 5px;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

/* body */
body.application {
	background: #b8c7dd;
}

body {
	line-height: 1.25em;
	font-family: "Nunito", sans-serif;
	font-size: 14px;
}

/*footer*/
.small {
    font-size: 90%;
}

/* left padding */
#impact p,
#about-graphs,
#about-dashboard {
	padding-left: 5px;
}


/* scroll-button */
#toTop {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 80px;
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	background-color: black;
	color: white;
	border-radius: 20px;
	z-index: 1;
}

#toTop:hover {
	background-color: navy;
}

/* links */
.link {
	color: #400743;
}

/*button elements*/

button,
.btn {
	background-color: #ffffff;
	color: #400743;
	margin: 10px;
	padding: 5px 10px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 10px;
	border-style: outset;
}

div button {
	display: inline-block;
	float: right;
	align-content: center;
}

.button-section {
	padding-bottom: 40px;
}


/*------------------------TEXT*/
/* chart text for graphs*/

#funding-status-pie.dc-chart .dc-legend,
.dc-chart .pie-slice,
.dc-select-menu,
.dc-chart g.row text,
.chart-wrapper .chart-title,
.chart-stage {
	font-size: 14px;
}

/*select menu*/
.dc-select-menu {
	background: #0078d7;
	width: 100%;
	border: none;
	position: relative;
	height: 31px;
	color: white;
	vertical-align: middle;
	text-align: center;
	padding-top: 4px;
}

/* legend text */
.dc-legend {
	text-transform: capitalize;
}

/* row chart text */
.dc-chart g.row text {
	fill: black;
}

/* div chart titles */
.chart-wrapper .chart-title {
	background: #000b64;
	color: white;
}

.chart-stage {
	background: white;
	position: relative;
	color: black;
	vertical-align: middle;
	text-align: center;
	padding-top: 12px;
}

/* Pie charts */
.dc-chart .pie-slice,
#funding-status-pie.dc-chart .dc-legend {
	text-transform: capitalize;
	font-weight: bold;
}

.dc-chart .pie-slice {
	fill: black;
}

#grade-level-pie.dc-chart .pie-slice,
#funding-status-pie.dc-chart .pie-slice {
	fill: none;
}

.dc-chart .selected path {
	stroke: #ffffff;
}

/*total no donations*/
/* & total value of donations in USD*/

#number-donations-nd,
#total-donations-nd {
	width: 170px;
	position: relative;
	height: 90px;
	font-size: 20px;
	color: white;
	vertical-align: middle;
	text-align: center;
	padding-top: 12px;
}

#metric_1 {
	background: #33CC99;
}

#metric_2 {
	background: #c7254e;
}

/*------------------------TABLE*/

/* NOTE= Although hidden in xs & sm the table styling same for all sizes */
/* styling for table */
.dc-table-group {
	visibility: collapse; /* added to collapse year displayed in rows of table */
}

table {
	text-align: center;
}

table tr:nth-child(even) {
	background-color: #d1e2f8;
}

th {
    font-size: 16px;
    font-weight: bold;
    background-color: #b8c7dd;
}

td {
    font-size: 14px;
}

#paging {
	color: #400743;
	font-weight: bold;
}

/*------------------------ABOUT*/
/* carousel*/
#carousel {
	margin: 0 auto;
	width: 80%;
	max-height: 600px;
}

.carousel-caption {
	position: relative;
	left: auto;
	right: auto;
}

.carousel-inner {
	overflow: hidden;
}

div #donorschoose-carousel {
	height: 500px;
}

.carousel-inner p {
    line-height: 1.5em;
    font-size: 12px;
}

.quote {
	font-style: italic;
	font-size: 16px;
	color: #546167;
}

/*------------------------CAMPAIGN*/

#stationery,
#classroom {
	border-radius: 60px;
	padding: 5px;
	width: 100%;
	height: auto;
	float: none;
}
