/*MAIN*/
/*Navbar Titles*/
.navbar {
    background: #400743;
    position: fixed;
}

/*Body*/
body.application {
    background: #b8c7dd;
}

/* scrollbutton*/
#toTop{
	display: none;
	position: fixed;
	right: 20px;
	bottom: 80px;
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	background-color: black;
	color: white;
	border-radius: 20px;
    z-index: 1;
}
#toTop:hover{
	background-color: navy;
}

/*links*/
.link{
    color: #400743;
}

/*DASHBOARD-INDEX*/
/*intro reset buttons*/
button{
    background-color: #ffffff;
    color: #400743;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
}
#index h2{
    display: inline-block;
    padding-left: 20px;
}
div button {
    display: inline-block;
    float: right;
    align-content: center;
}

/*TEXT*/
/*Chart text for graphs*/
.chart-stage {
    background: white;
    position: relative;
    font-size: 15px;
    color: black;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
}

/*Div Chart Titles*/
.chart-wrapper .chart-title{
    background: #000b64;
    color: white;
}

/*Legend Text*/
.dc-legend {
    text-transform: capitalize;
}

/*Row chart text*/
.dc-chart g.row text {
    fill: black;
    font-size: 14px;
}

/*CHARTS*/
/*Pie charts*/
.dc-chart .pie-slice {
    fill: black;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}
#grade-level-pie.dc-chart .pie-slice {
    fill: none;
}
.dc-chart .selected path{
    stroke: #fff;
}
#funding-status-pie.dc-chart .pie-slice{
    fill: none;
}
#funding-status-pie.dc-chart .dc-legend {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
}

/*total value of donations in USD*/
#total-donations-nd {
    width: 170px;
    position: relative;
    height: 90px;
    font-size: 50px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
}
#metric_1{
    background: #33CC99;
}

/*total no donations*/
#number-donations-nd {
    width: 170px;
    position: relative;
    height: 90px;
    font-size: 50px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
}
#metric_2{
    background: #c7254e;
}

/*select menu*/
.dc-select-menu {
    background: #0078d7;
    width: 100%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 15px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
}

/*TABLE*/
/*styling for table*/
.dc-table-group {
    visibility: collapse;
}
thead {
    background-color: #b8c7dd;
}
table th{
        text-align: center;
}
table tr:nth-child(even) {
    background-color: #d1e2f8;
}
table{
    text-align: center;
}
.btn{
    background-color: #ffffff;
    color: #400743;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
    border-style: outset;
}
#paging{
    color: #400743;
    font-weight: bold;
}

/*ABOUT*/
/*carousel*/
#carousel{
	margin: 0 auto;
	width: 80%;
	max-height: 600px;
	overflow: hidden;
}
ol.carousel-indicators{
    visibility: hidden;
}
.carousel-caption{
    font-size: 16px;
    right: 5%;
    left: 5%;
    bottom: 0;
}
#about h2, p{
    padding-left: 20px;
}
h1{
    padding-left: 20px;
}
.quote{
    font-style: italic;
    font-size: 20px;
    color: #546167;
}
#about-graphs{
    padding-left: 40px;
}

#about-dashboard{
    padding-left: 40px;
}

/*CAMPAIGN*/
#classroom{
    border-radius: 60px;
    float: left;
    padding: 30px;
    width: 450px;
    height: 300px;
}
#stationery{
    border-radius: 60px;
    float: right;
    padding: 30px;
    width: 450px;
    height: 300px;
}
#campaign h2{
    display: inline-block;
    padding-left: 20px;
}
#impact p{
    padding-left: 40px;
}
#aim p{
    padding-left: 500px;
    padding-right: 20px;
}

/*DONATE*/
div a.button{
    border-radius: 10px;
    background-color: #ffffff;
    color: #400743;
    margin: 10px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    border-style: outset;
}
#donate h2{
    display: inline-block;
    padding-left: 20px;
}