/* Chart text for graphs*/
.chart-stage {
    background: white;
    position: relative;
    font-size: 15px;
    color: black;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
}

/*Div Chart Titles*/
.chart-wrapper .chart-title{
    background: #000b64;
    color: white;
}

/*Navbar Titles*/
.navbar {
    background: #400743;
    position: fixed;
}

button{
    background-color: #ffffff;
    color: #400743;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
}

/*Body*/
body.application {
    background: #b8c7dd;
}

/* Row chart text*/
.dc-chart g.row text {
    fill: black;
    font-size: 14px;
}

/*Pie charts*/
.dc-chart .pie-slice {
    fill: black;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}
#grade-level-pie.dc-chart .pie-slice {
    fill: none;
}
.dc-chart .selected path{
    stroke: #fff;
}
#funding-status-pie.dc-chart .pie-slice{
    fill: none;
}
#funding-status-pie.dc-chart .dc-legend {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
}

/*Legend Text*/
.dc-legend {
    text-transform: capitalize;
}

/*total value of donations in USD*/
#total-donations-nd {
    width: 170px;
    position: relative;
    height: 90px;
    font-size: 50px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
}

#metric_1{
    background: #33CC99;
}

/*total no donations*/
#number-donations-nd {
    width: 170px;
    position: relative;
    height: 90px;
    font-size: 50px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
}

#metric_2{
    background: #c7254e;
}

/*select menu*/
.dc-select-menu {
    background: #0078d7;
    width: 100%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 15px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
}

/*styling for table*/
.dc-table-group {
    visibility: collapse;
}

thead {
    background-color: #b8c7dd;
}

table tr:nth-child(even) {
    background-color: #d1e2f8;
}

/*about*/
#carousel{
	margin: 0 auto;
	width: 80%;
	max-height: 600px;
	overflow: hidden;
}
div h2{
    display: inline-block;
}
div button {
    display: inline-block;
    float: right;
    align-content: center;
}
/* scrollbutton*/
#toTop{
	display: none;
	position: fixed;
	right: 20px;
	bottom: 80px;
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	background-color: black;
	color: white;
	border-radius: 20px;
    z-index: 1;
}

#toTop:hover{
	background-color: navy;
}
