{% extends "layout.html" %}

{% block content %}
    <h1>About</h1>
    <div id="outer" class="container-fluid">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <h2> School Donations Data Dashboard</h2>
                    <p> The School Donations Data Dashboard displays statistics of donations given per school state.
                        7 States were chosen at random to show the current education improvements required in the
                        state of Delaware. These include: Alaska (AK), Delaware (DE), Hawaii (HI), Idaho (ID),
                        Minnesota (MN), Kansas (KS), and Kentucky (KY).</p>
                </div>

                <div class="col-sm-4">
                    <h2> Graphs & Charts</h2>
                    <p>The data displayed includes: charts, graphs and tables of:</p>
                    <ul>
                    <li>Total number of donations given</li>
                    <li>Total value of donations given in US Dollars</li>
                    <li>Poverty Levels</li>
                    <li>Funding Status</li>
                    <li>Number of donations made over the years</li>
                    <li>Type of resources donated</li>
                    <li>'Teach for America' teacher availability</li>
                    <li>School grade levels of students</li>
                    <li>Primary focus areas, and</li>
                    <li>Primary focus subjects</li>
                    </ul>
                </div>
            </div>
        <hr>

		<div class="container">
		<div class="row">
		<div class="col-sm-12">
		<h2> About Donorschoose.org</h2>

            <p>The generous donations made through <a href="https://www.donorschoose.org">donorschoose.org</a>
                is an investment in our children's future.</p>
            <hr>
            <div id="Donorschoose" class="carousel slide container col-12" data-ride="carousel">
                <div id ="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#Donorschoose" data-slide-to="0" class="active"></li>
                        <li data-target="#Donorschoose" data-slide-to="1"></li>
                        <li data-target="#Donorschoose" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <figure class="item active">
                            <img id="Cody" src="{{ url_for ('static', filename = 'assets/img/cody.jpeg') }}">
                            <div class="carousel-caption">
                                <h3> Meet Cody...</h3>
                                <p>"Because of Donorschoose.org Cody has all the art supplies he needs to express his
                                    creativity and a wonderful teacher with the skills to help him grow!"
                                </p>
                            </div>
                        </figure>
                        <figure class="item">
                            <img id="Eliza" src="{{ url_for ('static', filename = 'assets/img/eliza.jpeg') }}">
                            <div class="carousel-caption">
                                <h3>Meet Eliza...</h3>
                                <p>"Donations from Donorschoose.org have provided Eliza and her friends with new
                                    colourful playground equipment. This has allowed her to make new friends and keep
                                    active at break times!"</p>
                            </div>
                        </figure>
                        <figure class="item">
                            <img id="Jacob" src="{{ url_for ('static', filename = 'assets/img/jacob.jpg') }}">
                            <div class="carousel-caption">
                                <h3>Meet Jacob</h3>
                                <p>"Coach Harry has bought brand new kit for the team from uniforms, baseballs,
                                    baseball bats, caps and with some money set aside to treat the teams after the game.
                                    This is Jacob's first game in his new gear. It was all down to the generous donors
                                    from Donorschoose.org which made this happen"
                                </p>
                            </div>
                        </figure>
                    </div>
                        <!--controls-->
                    <a class="left carousel-control" href="#Donorschoose" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#Donorschoose" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            </div>
        </div>
        </div>
         </div>
        </div>
{% endblock %}