{% extends "layout.html" %}
{% block title %}Our Campaign -School Donations Data{% endblock %}
{% block content %}
    <div id="campaign" class="container-fluid">
        <div class="row">
            <h1> Our Campaign</h1>
            <div class="col-sm-12 col-md-9" id="impact">
                <h2>Our Impact</h2>
                <p class="quote">
                    The funding provided to DonorsChoose is used to support teachers and students.
                    From resources such as pens, books, money for school trips, printers, computers and much more.
                    The money donated not only provides resources but also confidence self worth and pride.
                    It is an investment in our future and in our kids lives.
                </p>
            </div>
            <div class="col-sm-12 col-md-3">
                <img id="stationery" alt="image of pens and pencils"
                     src="{{ url_for ('static', filename = 'assets/img/stationery.jpeg') }}">
            </div>
            <hr>
            <div class="col-sm-12 col-md-9" id="aim">
                <h2>Our Aim</h2>
                <br>
                <p class="quote">
                    DonorsChoose has supported a lot of schools in various US states.
                    Our aim is to increase our reach, so that no student and teacher is disadvantaged from their
                    location. We hope to have equal education for everyone. That each student and teacher is
                    provided with what they need to study, to learn and to teach.
                </p>
            </div>
            <div class="col-sm-12 col-md-3">
                <img id="classroom" alt="image of teacher in classroom"
                     src="{{ url_for ('static', filename = 'assets/img/classroom.jpg') }}">
            </div>
        </div>
    </div>
{% endblock %}