{% extends "layout.html" %}
{% block title %}Donate -School Donations Data{% endblock %}
{% block content %}
    <div id="donate" class="container-fluid">
        <div class="row">
            <h1>Donate</h1>
            <div class="col-sm-12">
                <h2>Support a classroom. Build a future.</h2>
                <br>
                <p>If you wish to support our cause and help our teachers and kids create a brighter future please click
                    the button below.<br> We have a variety of projects on our website with many teachers, kids and
                    classrooms needing that extra bit of help. <br> Whatever you can give is greatly appreciated.
                </p>
                <br>
                <p class="quote"> Thank you for making a difference!</p>
                <br>
                <a class="btn" href="https://www.donorschoose.org/donors/search.html" target="_blank">
                Click here to find a classroom to support
                </a>
            </div>
            <br><br>
            <div class="col-sm-12">
                <h2>Volunteer</h2>
                <p>If you don't have much to give, but would love to help out. You can also volunteer with us at DonorsChoose.
                    <br>We are looking for people who are passionate about kids and teachers, who are able to commit 2-3
                    volunteer shifts per month (2 or 4 hour shifts), and can travel to our Midtown NYC office.<br>
                    You can help out by...
                </p>
                <br>
                <ul>
                    <li>Reviewing student thank you notes</li>
                    <li>Writing donor thank you notes</li>
                </ul>
                <br>
                <p>If this sounds like something you'd be interested in, please click the below link to find out more.</p>
                <br>
                <a class="btn" href="https://www.donorschoose.org/volunteer" target="_blank">
                Click here to volunteer!
                </a>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}