<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School Donations Data</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename ='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename ='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'css/style.css')}}">
</head>
<body class="application">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="./">School Donations Data</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/a">A</a></li>
            <li><a href="/b">B</a></li>
            <li><a href="/c">C</a></li>
        </ul>
            <!--currently ABC added as placeholder text-->
    </div>
</nav>
<!-- chart placement tbc - placeholder chart placement added -sizing and style to be determined
'funding_status' (pie)
'school_state' (menu)
'resource_type' (bar)
'poverty_level'(bar/pie)
'date_posted' (line)
'total_donations' (metric)
'primary_focus_area' (bar/pie)
'primary_focus_subject' (bar/pie)
'teacher_teach_for_america' (bar/pie)
'grade_level' (bar/pie) note 10 total-->
<div id="outer" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <!--Start Chart Select State (Menu Select)-->
                <div class="col-sm-2">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Donation State
                        </div>
                        <div class="chart-stage">
                            <div id="menu-select"></div>
                        </div>
                    </div>
                </div>
                <!--End Chart Select State (Menu Select)-->
                <!--Start Chart Total No Donations Metric 1-->
                <div class="col-sm-2">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                        Total Number of Donations
                        </div>
                        <div class="chart-stage">
                            <div id="number-donations-nd"></div>
                        </div>
                    </div>
                </div>
                <!--End Chart Total No Donations Metric 1-->

                <!--Start Chart Total Donations USD Metric 2-->
                <div class="col-sm-2">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                        Total Donations in USD
                        </div>
                        <div class="chart-stage">
                            <div id="total-donations-nd"></div>
                        </div>
                    </div>
                </div>
                <!--End Chart Total Donations USD Metric 2-->
                <!--Start Chart Chart Poverty Level (Row)-->
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                        Poverty level
                        </div>
                        <div class="chart-stage">
                            <div id="poverty-level-rc"></div>
                        </div>
                    </div>
                </div>
                <!--End Chart Poverty Level(Row)-->
                <!--Start Chart Funding Status Pie-->
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Funding Status
                        </div>
                        <div class="chart-stage">
                            <div id="funding-status-pie"></div>
                        </div>
                    </div>
                </div>
                <!--End Chart Funding Status Pie-->
                <!--Start Chart Time Series -->
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of Donations Made
                        </div>
                        <div class="chart-stage">
                            <div id="time-line"></div>
                        </div>
                    </div>
                </div>
                <!--End Chart Time Series-->
            </div>
        </div>
        <!--Start Resources Bar Chart-->
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Resources Donated
                </div>
                <div class="chart-stage">
                    <div id="resource-type-rc"></div>
                </div>
            </div>
        </div>
        <!--End Resources Bar Chart-->
        <!--Start Teach for America Pie Chart-->
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Chart 3 Title sm-6 tf america
                </div>
                <div class="chart-stage">
                    <div id="tf-america-pie"></div>
                </div>
            </div>
        </div>
        <!--End Teach for America Pie Chart-->
        <!--Start School Grade Levels Chart-->
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                   School Grade Levels
                </div>
                <div class="chart-stage">
                    <div id="grade-level-pie"></div>
                </div>
            </div>
        </div>
        <!--End School Grade Levels Chart-->
        <!--Start Primary Focus Areas Bar Chart -->
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Primary Focus Areas
                </div>
                <div class="chart-stage">
                    <div id="pf-area-rc"></div>
                </div>
            </div>
        </div>
        <!--End Primary Focus Areas Bar Chart-->
        <!--Start Primary Focus Subjects Bar Chart-->
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Primary Focus Subjects
                </div>
                <div class="chart-stage">
                    <div id="pf-subject-rc"></div>
                </div>
            </div>
        </div>
        <!--End Primary Focus Subjects Bar Chart-->
    </div>
</div>

<hr>
<p class="small text-muted">
        Data Visualisation - Stream 2 Project -Code Institute -
    <a href="https://github.com/Andreaytm"> Andrea Ma(2018)
    </a>
</p>
<script src ="{{ url_for ('static', filename = 'lib/js/jquery.min.js')}}"></script>
<script src ="{{ url_for ('static', filename = 'lib/js/bootstrap.min.js')}}"></script>
<script src ="{{ url_for ('static', filename = 'lib/js/crossfilter.js')}}"></script>
<script src ="{{ url_for ('static', filename = 'lib/js/d3.js')}}"></script>
<script src ="{{ url_for ('static', filename = 'lib/js/dc.js')}}"></script>
<script src ="{{ url_for ('static', filename = 'lib/js/queue.js')}}"></script>
<script src ="{{ url_for ('static', filename = 'lib/js/keen.min.js')}}"></script>
<script src ="{{ url_for ('static', filename = 'js/graph.js')}}"></script>
</body>
</html>