<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for ('static', filename = 'lib/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for ('static', filename = 'lib/css/keen-dashboards.css') }}">
        <link rel="stylesheet" href="{{ url_for ('static', filename = 'lib/css/dc.css') }}">
        <link rel="stylesheet" href="{{ url_for ('static', filename = 'css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for ('static', filename = 'css/device-size.css') }}">
        <link rel="stylesheet" href="{{ url_for ('static', filename = 'lib/css/introjs.css') }}">
        <link rel="icon" href="{{ url_for ('static', filename = 'assets/img/favicon.ico') }}" type="image/x-icon">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="application">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./"><i class="glyphicon glyphicon-education"></i> School Donations Data</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myCollapsingList">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <ul id="myCollapsingList" class="nav navbar-nav collapse navbar-collapse">
                    <li><a href="/about">About</a></li>
                    <li><a href="/campaign">Our Campaign</a></li>
                    <li><a href="/donate">Donate Now</a></li>
                </ul>
            </div>
        </nav>
        <button onclick="GoToTop()" id="toTop" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></button>
        {% block content %}{% endblock %}
        <hr>
        <footer class="small text-muted">
            Data Visualisation - Stream 2 Project - Code Institute -Andrea Ma(2018)
            <a href="https://github.com/Andreaytm" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </footer>
        <script src="{{ url_for ('static', filename = 'lib/js/jquery.min.js') }}"></script>
        <script src="{{ url_for ('static', filename = 'lib/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for ('static', filename = 'lib/js/crossfilter.js') }}"></script>
        <script src="{{ url_for ('static', filename = 'lib/js/d3.js') }}"></script>
        <script src="{{ url_for ('static', filename = 'lib/js/dc.js') }}"></script>
        <script src="{{ url_for ('static', filename = 'lib/js/queue.js') }}"></script>
        <script src="{{ url_for ('static', filename = 'lib/js/keen.min.js') }}"></script>
        <script src="{{ url_for ('static', filename = 'js/graph.js') }}"></script>
        <script src="{{ url_for ('static', filename = 'js/scrollbutton.js') }}"></script>
        <script src="{{ url_for ('static', filename = 'lib/js/intro.js') }}"></script>
        <script src="{{ url_for ('static', filename = 'lib/js/data-table.js') }}"></script>
    </body>
</html>
